<div class="w100 palefDefault">
    <div class="w100">
        <h3>Formulario</h3> <br> 
    </div>


    <div class="row mato10">
        
        <div class="col-md-6">

            <div class="form-group">
                <p class="subtitle">Datos principales</p>
            </div>

            <div class="form-group">
                <label>Nombre corto de la empresa</label>
                <input type="text" class="form-control" placeholder="Introduce el nombre corto de la empresa"  [(ngModel)] = "company.short_name">
            </div>
            <div class="form-group">
                <label>Dominio</label>
                <input type="text" class="form-control" placeholder="Introduce el dominio de la empresa" [(ngModel)] = "company.domain">
            </div>
              
  
            <div class="form-group">
                <p class="subtitle">Datos fiscales</p>
            </div>

            <div class="form-group">
                <label>Razon social</label>
                <input type="text" class="form-control" placeholder="Introduce el nombre o razon social de la empresa" [(ngModel)] = "company.fiscal_information.bussines_name">
            </div>

            <div class="form-group">
                <label>RFC</label>
                <input type="text" class="form-control" placeholder="Introduce el RFC" [(ngModel)] = "company.fiscal_information.rfc">
            </div>
            
            <div class="form-group">
                <label>Correo electronico</label>
                <input type="text" class="form-control" placeholder="Introduce el correo electronico" [(ngModel)] = "company.fiscal_information.mail">
            </div>
            
        </div>


        <div class="col-md-6">
            <div class="form-group">
                <p class="subtitle">Domicilio fiscal</p>
            </div>
            <div class="form-group">
                <label>Calle</label>
                <input type="text" class="form-control" placeholder="Introduce la calle" [(ngModel)] = "company.fiscal_information.street">
            </div>
            <div class="form-group">
                <label>Numero</label>
                <input type="text" class="form-control" placeholder="Introduce el numero" [(ngModel)] = "company.fiscal_information.number">
            </div>
            <div class="form-group">
                <label>Colonia</label>
                <input type="text" class="form-control" placeholder="Introduce la colonia" [(ngModel)] = "company.fiscal_information.colonie">
            </div>
            <div class="form-group">
                <label>Ciudad</label>
                <input type="text" class="form-control" placeholder="Introduce la ciudad" [(ngModel)] = "company.fiscal_information.city">
            </div>
            <div class="form-group">
                <label>Estado</label>
                <input type="text" class="form-control" placeholder="Introduce el estado" [(ngModel)] = "company.fiscal_information.state">
            </div>

            <div class="form-group">
                <label>Pais</label>
                <input type="text" class="form-control" placeholder="Introduce el pais" [(ngModel)] = "company.fiscal_information.country">
            </div>

            <div class="form-group">
                <button class="btn btn-primary" (click)="save()">{{text_button}}</button>
            </div>

        </div>
     

    </div>
    


    

</div>


